@page "/presses"
@inherits DashboardModel

<div class="container-fluid">
    <div class="row">

        <div class="press-dashboard-wrapper">
            <div class="press-dashboard-heading">
                <h1>Presses</h1>
            </div>

            <div class="press-dashboard-presslist">

            </div>
        </div>

    </div>
</div>