@page "/presses"
@inherits DashboardModel

<div class="container-fluid">
    <div class="row">

        <div class="press-dashboard-wrapper">
            <div class="press-dashboard-heading">
                <h1>Presses</h1>
            </div>

            <div class="press-dashboard-presslist">

                <div class="row">
                    @foreach (var __press in Presses)
                    {
                        <div class="col-md-3">
                            <p>@__press.Press</p>
                        </div>
                    }
                </div>

                <div class="press-dashboard-presslist-image"/>
            </div>

        </div>

    </div>
</div>