@page "/presses"
@inherits DashboardModel

<div class="container-fluid">
    <div class="row">

        <div class="press-dashboard-wrapper">
            <div class="press-dashboard-heading">
                <h1>Presses</h1>
            </div>

            <div class="press-dashboard-presslist">

                <div class="row">
                    @foreach (var __press in Presses)
                    {
                        <div class="col-md-3">
                            <div class="press-card">
                                <h1>@__press.Name</h1>

                                <div class="press-card-checks">
                                    <div class="press-card-titles">
                                        <p>Daily</p>
                                        <p>Weekly</p>
                                        <p>Monthly</p>
                                    </div>

                                    <div class="press-card-icon">
                                        <RadzenIcon Icon="check_circle" />
                                        <RadzenIcon Icon="check_circle" />
                                        <RadzenIcon Icon="check_circle" />
                                    </div>
                                </div>

                                <div class="press-dashboard-presslist-image" />

                                <div class="press-card-dropdown">
                                    <div class="press-card-dropdown-check">
                                        <p>Daily</p>
                                        <p>Action Needed</p>
                                    </div>

                                    <div class="press-card-dropdown-check">
                                        <p>Weekly</p>
                                        <p>Action Needed</p>
                                    </div>

                                    <div class="press-card-dropdown-check">
                                        <p>Monthly</p>
                                        <p>Action Needed</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>

        </div>

    </div>
</div>