@inherits LayoutComponentBase

<PageTitle>ParagonID.InternalSystem</PageTitle>

<div class="page">
    <RadzenCard class="navbar-wrapper">
        <Navbar />
    </RadzenCard>

    <main>
        <article class="content">
            @Body
        </article>
    </main>
</div>
