@using Microsoft.AspNetCore.Components.Web
@using Radzen.Blazor
@namespace ParagonID.InternalSystem.Pages
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <base href="~/" />
    <link rel="stylesheet" href="css/bootstrap/bootstrap.min.css" />
    <link href="css/site.css" rel="stylesheet" />
    <link href="ParagonID.InternalSystem.styles.css" rel="stylesheet" />
    <link href="css/layouts/login.css" rel="stylesheet"/>
    <link href="css/layouts/navbar.css" rel="stylesheet"/>
    <component type="typeof(HeadOutlet)" render-mode="ServerPrerendered" />
    <component type="typeof(RadzenTheme)" render-mode="ServerPrerendered" param-Theme="@("material-dark")" />
</head>
<body>
    @RenderBody()

    <div id="blazor-error-ui">
        <environment include="Staging,Production">
            An error has occurred. This application may no longer respond until reloaded.
        </environment>
        <environment include="Development">
            An unhandled exception has occurred. See browser dev tools for details.
        </environment>
        <a href="" class="reload">Reload</a>
        <a class="dismiss">🗙</a>
    </div>

    <script src="_framework/blazor.server.js"></script>
    <script src="js/jwt/setJwt.js"></script>
    <script src="js/jwt/deleteJwt.js"></script>
    <script src="js/jwt/getJwt.js"></script>
    <script src="_content/Radzen.Blazor/Radzen.Blazor.js?v=@(typeof(Radzen.Colors).Assembly.GetName().Version)"></script>
</body>
</html>
