@inherits NavbarComponent
@inject NavigationManager NavigationManager

@if(Navlinks != null){
<div class="navbar-wrapper-inner">
    <div class="navbar-content">
        @foreach (var __navlink in Navlinks)
        {
            <div class="navbar-navlink" @onclick="@(() => NavigationManager.NavigateTo($"{__navlink.Path}"))">
                <p>@(__navlink.Name)</p>
                <RadzenIcon Icon="@(__navlink.Icon)"/>
            </div>
        }
    </div>
</div>
}