.login-layout-wrapper {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(60deg, rgba(69,69,69,1) 70%, rgba(216,9,21, 1) 60%, rgba(13,29,83, 1) 100%);
}

.login-block {
    position: relative;
    width: 25%;
}

.login-card {
    padding: 50px !important;
}

.login-card-image {
    width: 100%;
    display: flex;
    position: relative;
    justify-content: center;
    margin: 0 0 32px 0;
}

.login-card-image img {
    width: 20%;
}

.login-card-input {
    display: flex;
    flex-direction: column;
}

.login-card-input label {
    font-size: 12px;
    font-weight: 900;
    margin: 0 0 4px 0;
}

.login-card-input input {
    background-color: #fff;
    border-radius: 50px;
    color: #1e1e1e;
}

.login-card-signin {
    margin: 32px 0 0 0;
    text-align: center;
}

.login-card-signin button {
    border-radius: 50px;
    padding: 4px 32px !important;
    text-transform: initial;
    gap: 0;
    font-size: 16px;
}

.login-card-colorscheme {
    height: 8px;
    display: flex;
    flex-direction: row;
    width: 100%;
    bottom: 0;
    left: 0;
    position: absolute;
}

.color-swatch {
    height: 8px;
    width: 33.33333%;
}